/* Shared Styles */
.btn-style{
  background-color: #30B868;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}

button:hover{
  background-color: #199778;
}



/* Individual Styles */
.nav{
  display: flex;
  justify-content: space-around;
}

.anchors{
  list-style: none;
  display: flex;
  gap: 32px;
}

nav li a{
  text-decoration: none;
  color: black;
}