/* Shared Styles */
*{
  margin: 0;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn-style{
  background-color: #30B868;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}

button:hover{
  background-color: #199778;
}

.fixed-width{
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
}


/* Individual Styles */
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 50px;
}

.anchors{
  list-style: none;
  display: flex;
  gap: 32px;
}

nav li a{
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.hero-container{
  background-image: url('../assets/hero-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 115px 120px 180px;
}

.hero-content{
  width: 770px;
  margin: 0 auto;
}

.another-btn-style{
  background-color: transparent;
  color: white;
  padding: 10px 30px;
  border: 2px solid white;
  border-radius: 5px;
  font-weight: 600;
  margin: 0px 30px;
}

#bg-white{
  background-color: white;
  text-decoration: none;
  color: #30B868;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 20px;
}

.hero-p{
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin: 20px 0px;
}

.btn-div{
  margin: 20px 0px;
}

.img-bg{
  background-color: red;
  margin-top: 30px;
  padding: 5px;
  border-radius: 25px;
}

.structure-section{
  background-color: rgb(253, 253, 233);
  padding: 40px 0px;
  text-align: center;
}

.card-container{
  display: flex;
  text-align: center;
  gap: 10px;
}

main section div h1{
  font-size: 48px;
  margin: 20px 0px;
  margin: 10px 0px;
}

main section div p{
  margin-bottom: 30px;
  color: #627382;
}

main section div div div {
  background-color: white;
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.116);
  border-radius: 5px;
}

main section div div h3{
 margin: 20px 0px;
}

main section div div p{
  padding: 0px 10px;
}

.brain-container{
  display: flex;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.circle{
  display: flex;
  gap: 10px;
  margin: 10px;
}

.text-div{
  padding: 0px 30px;
}

.think-container{
  text-align: center;
  background-color: rgb(253, 253, 233);
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 5px;
}

.think-div{
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

.grey{
  color:#627382
}

.font-size{
  font-size: 40px;
  padding: 40px 0px;
}

.think-btn{
  margin: 20px 0px;
}

.footer-container{
  background-color: #001931;
}

.footer-div{
  display: flex;
  justify-content: space-between;
  /* justify-items: center; */
  margin: 0 auto;
  border-bottom: 2px dotted rgba(128, 128, 128, 0.315);
  padding: 60px 0px;
}

.social{
  display: flex;
  gap: 10px;
}

#right{
  padding-right: 100px;
}

.bg-white{
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  height: 20px;
  width: 20px;
}